doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='/styles/css/bootstrap.css')
    link(rel='stylesheet' href='creditsale.css')
  body
    // nav
    nav.navbar.navbar-light.bg-light
      .container-fluid
        a.navbar-brand Karibu Groceries Ltd
        a.links(href='/') Home
        a.links(href='managerDash') Dashboard
        a.links(href='credit') New Credit
        a.links(href='credit-list') Credit List 
        form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn(type='submit') Search
    // nav
    h3 CreditSale
    form.row.g-3(name='creditform' action="/newCredit" method='POST' onsubmit='return validationForm() ')
      .col-md-6
        label.form-label(for='produceName') Produce Name
        select#produceName.form-select(name='produceName' required)
          option(value='please select')
          option(value='beans') Beans
          option(value='maize') Maize Grain
          option(value='gnuts') G-nuts
          option(value='cowpeas') cowpeas
          option(value='millet') Millet
      .col-md-6
        label.form-label(for='typeOfProduce') Produce Type
        input#typeOfProduce.form-control(type='typeOfProduce' name='typeOfProduce')
      .col-md-6
        label.form-label(for='nameOfBuyer') Name of Buyer
        input#nameOfBuyer.form-control(type='nameOfBuyer' name='nameOfBuyer')
      .col-md-6
        label.form-label(for='nameOfSalesAgent') Sales Agent
        select#nameOfSalesAgent.form-select(name='nameOfSalesAgent')
          option(value='nameOfSalesAgent')
          option(value='Adam M') Adam M
          option(value='Kato Moses') Kato Moses
      .col-md-6
        label.form-label(for='amountDue') Amount Due (Ugx)
        input#amountDue.form-control(type='amountDue' name='amountDue')
      .col-md-6
        label.form-label(for='tonnage') Produce in tonnage
        input#tonnage.form-control(type='tonnage')
      .col-md-6
        label.form-label(for='dispatchDate') Dispatch Date
        input#dispatchDate.form-control(type='Date' name='dispatchDate')
      .col-md-6
        label.form-label(for='dueDate') Due Date
        input#dueDate.form-control(type='Date' name='dueDate')
      .col-md-6
        label.form-label(for='location') Location
        input#locationErr.form-control(type='location' name='location')
      .col-md-6
        label.form-label(for='contactNumber') Contact Number 
        input#contactNumber.form-control(type='contactNumber' name='contactNumber')
      .col-md-6
        label.form-label(for='nationalId') National Id
        input#nationalId.form-control(type='nationalId')
      .col-6
        button.btn-submit(type='submit') submit
    //- script(src='creditsale.js')
