<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="land.css">
</head>

<body>
    <div class="container">
        <div class="wave">
            <img src="./images/bg.png" alt="">
        </div>

        <nav>
            <ul>
                <li><a href="">login</a></li>
                
            </ul>
            
            <img src="./images/logo.png" alt="">
          
        </nav>

        <div class="main-content">

            <div class="image-pista">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./images/maize1.jpg" ></div>
                        <div class="swiper-slide"><img src="./images/beans.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="./images/millet.avif" alt=""></div>    
                    </div> 
                </div>
            </div>
            
            <div class="main-text">
                <h1>WELCOME TO KARIBU GROCERIES LIMITED</h1>
                <p>we provide the Best Cereal Produces In The Counrty</p>
                <button href="">Know More</button>
            </div>
        </div>
        <!-- <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search' ></i>
          </div> -->

        <div class="right">
            <div class="box">
                <div class="image">
                    <img src="./images/maiz-grain.jpg" alt="">
                </div>
                <div class="inner-box">
                    <h3>100% Natural Produce</h3>
                    <p></p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="/img/img5.png" alt="">
                </div>
                <div class="inner-box">
                    <h3>Not Expensive</h3>
                    <p>At affordable price</p>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="/img/img6.png" alt="">
                </div>
                <div class="inner-box">
                    <h3>Sold At Discounts %</h3>
                    <p>We care About Health</p>
                </div>
            </div>
        </div>

        <div class="social-links">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 1,
          spaceBetween: 30,
          loop: true,
        });
      </script>
</body>

</html>