doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='https://unpkg.com/swiper@8/swiper-bundle.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css' integrity='sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm' crossorigin='anonymous')
    link(rel='stylesheet' href='land.css')
  body
    .container
      .wave
        img(src='./images/bg.png' alt='')
      nav
        ul
          li
            a(href='login') Login 
        img(src='./images/logo.png' alt='')
      .main-content
        .image-pista
          .swiper.mySwiper
            .swiper-wrapper
              .swiper-slide
                img(src='./images/maize1.jpg')
              .swiper-slide
                img(src='./images/beans.jpg' alt='')
              .swiper-slide
                img(src='./images/millet.avif' alt='')
        .main-text
          h1 WELCOME TO KARIBU GROCERIES LIMITED
          p we provide the Best Cereal Produces In The Country 
          button(href='') Know More
      //
        <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
        </div>
      .right
        .box
          .image
            img(src='./images/maiz-grain.jpg' alt='')
          .inner-box
            h3 100% Natural Produce
            p
        .box
          .image
            img(src='/img/img5.png' alt='')
          .inner-box
            h3 Not Expensive
            p At affordable price
        .box
          .image
            img(src='/img/img6.png' alt='')
          .inner-box
            h3 Sold At Discounts %
            p We care About Health
      .social-links
        i.fab.fa-instagram
        i.fab.fa-facebook-f
        i.fab.fa-twitter
        i.fa-brands.fa-whatsapp
    script(src='https://unpkg.com/swiper@8/swiper-bundle.min.js')
    // Initialize Swiper
    script.
      var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      });
