<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="managerDash.css" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img src="../images/basket-159430_960_720.png" />

        <span class="logo_name">K.GROCERIES LTD</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="">Sales</a>
        </li>
        <li>
          <a href="">Purchases</a>
        </li>
        <li>
          <a href="">Stock</a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
      


      

      
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
       
         <div class="links">
          <a href="">Purchases</a>
         </div>
         <div class="links">
          <a href="">Sales</a>
         </div>

         <span class="admin_name">Branch:</span>

        <div class="profile-details">
          <img src="../images/Nsereko.jpg" alt="" />
          <span class="admin_name">Nsereko</span>
          <br>
          <span class="admin_name">manager</span>
        </div>
      </nav>

      <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Credits</div>
              <div class="number">40,876</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class="bx bx-cart-alt cart"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Sales</div>
              <div class="number">38,876</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class="bx bxs-cart-add cart two"></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Purchases</div>
              <div class="number">ugx12,876</div>
              <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
              </div>
            </div>
            <i class="bx bx-cart cart three"></i>
          </div>
         
        </div>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">Recent Sales</div>
            <div class="sales-details">
              <ul class="details">
                <li class="topic">Date</li>
                <li><a href="#">02 Jun 2022</a></li>
                <li><a href="#">02 Jun 2022</a></li>
                <li><a href="#">02 Jun 2022</a></li>
                <li><a href="#">02 Jun 2022</a></li>
                <li><a href="#">02 Jun 2022</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Customer</li>
                <li><a href="#">Solome N</a></li>
                <li><a href="#">Kaffu millers ltd</a></li>
                <li><a href="#">Roe Parter</a></li>
                <li><a href="#">Diana Penty</a></li>
                <li><a href="#">Martin Paw</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Sales</li>
                <li><a href="#">Delivered</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Returned</a></li>
                <li><a href="#">Delivered</a></li>
                <li><a href="#">Pending</a></li>
              </ul>
              <ul class="details">
                <li class="topic">Total</li>
                <li><a href="#"> Ugx 2,000,000</a></li>
                <li><a href="#">Ugx 2,000,000</a></li>
                <li><a href="#">Ugx 2,000,000</a></li>
                <li><a href="#">Ugx 2,000,000</a></li>
                <li><a href="#">Ugx 2,000,000</a></li>
              </ul>
            </div>
            <div class="button">
              <a href="#">See All</a>
            </div>
          </div>
          <div class="top-sales box">
            <div class="title">Top Seling Produce</div>
            <ul class="top-sales-details">
              <li>
                <a href="#">
                  <img src="../images/maiz-grain.jpg" alt="" />
                  <span class="product">maize</span>
                </a>
                <span class="price">Ugx 2,000,000</span>
              </li>
              <li>
                <a href="#">
                  <img src="../images/millet.avif" alt="" />
                  <span class="product">Millet </span>
                </a>
                <span class="price">Ugx 1,900,000</span>
              </li>
              <li>
                <a href="#">
                  <img src="../images/soya beans.jpg" alt="" />
                  <span class="product">Soya Beans</span>
                </a>
                <span class="price">Ugx 1,720,000</span>
              </li>
              <li>
                <a href="#">
                  <img src="../images/maize2.jpg" alt="" />
                  <span class="product">Maize 2.</span>
                </a>
                <span class="price">Ugx 1,700,000</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </body>
</html>
