doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./css/bootstrap.css')
    link(rel='stylesheet' href='purh.css')
  body
    nav.navbar.navbar-light.bg-light
      .container-fluid
        a.navbar-brand Karibu Groceries Ltd
        a.links(href='managerDash') Dashboard
        a.links(href='index') Home
        a.links(href='') New Purchase
        a.links(href='purchase-list') Purchase List
        form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn(type='submit') Search
    form.row.g-3
      .col-md-6
        label.form-label(for='name') Produce Name
        input#name.form-control(type='text', name='name')
      .col-md-6
        label.form-label(for='typeOfProduce') Produce Type
        input#typeOfProduce.form-control(type='text', name='typeOfProduce')
      .col-6
        label.form-label(for='nameOfBuyer') Name of Buyer
        input#nameOfBuyer.form-control(type='text' name='typeOfbuyer')
      .col-md-6
        label.form-label(for='PurchasedOn') Purchased On
        input.form-control(type='text' id='PurchasedOn' name='PurchasedOn')
      .col-md-6
        label.form-label(for='Tonnage') Tonnage(kgs)
        input#Tonnage.form-control(type='number' name='Tonnage')
      .col-md-6
        label.form-label(for='price') Unit price
        input#price.form-control(type='number' name='Price')
      .col-md-6
        label.form-label(for='Costprice') Cost Price
        input#Costprice.form-control(type='number' name='Costprice')
      .col-6
        label.form-label(for='Dealer') Dealer's Name
        input#Dealer.form-control(type='text' Name='Dealer')
      .col-6
        label.form-label(for='contact') Contact Number
        input#contact.form-control(type='number' name='contact')
      .col-6
        label.form-label(for='Selling') Selling Price
        input#Selling.form-control(type='number' name='Selling')
      .col-12
        button.btn.btn-primary(type='submit') submit