doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='/styles/css/bootstrap.css')
    link(rel='stylesheet' href='purh.css')
  body
    nav.navbar.navbar-light.bg-light
      .container-fluid
        a.navbar-brand Karibu Groceries Ltd
        a.links(href='managerDash') Dashboard
        a.links(href='index') Home
        a.links(href='purchase') New Purchase
        a.links(href='purchase-list') Purchase List
        form.d-flex
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn(type='submit') Search
    .container 
      h3(style='text-align: center') New Purchase
       
      form.row.g-3(method='POST' name='New Purchase' action='/newPurchase' onsubmit='return validationForm()')
        .col-md-6
          label.form-label(for='produceName') Produce Name
          select#produceName.form-select(name='produceName' required)
            option(selected='')
            option(value='Beans') Beans
            option(value='Maize Grain') Maize Grain
            option(value='G-nuts') G-nuts
            option(value='cowpeas') cowpeas
            option(value='Millet') Millet
        .col-md-6
          label.form-label(for='typeOfProduce') Produce Type
          select#typeOfProduce.form-select( type='text' name='typeOfProduce')
            option(selected='')
            option(value='legumes') legumes 
            option(value='cereals') cereals
        .col-6
          label.form-label(for='nameOfBuyer') Name of Buyer
          input#nameOfBuyer.form-control(type='text' name='nameOfBuyer')
        .col-md-6
          label.form-label(for='PurchasedOn') Purchased On
          input#PurchasedOn.form-control(type='date' name='PurchasedOn')
        .col-md-6
          label.form-label(for='tonnage') Tonnage(kgs)
          input#tonnage.form-control(type='number' name='tonnage')
        .col-md-6
          label.form-label(for='price') Unit price
          input#price.form-control(type='number' name='price')
        .col-md-6
          label.form-label(for='Costprice') Cost Price
          input#Costprice.form-control(type='number' name='Costprice')
        .col-md-6
          label.form-label(for='branch') Branch 
          select#branch.form-select(name='branch' type='text')
            option(selected='')
            option(value='Kisasi') Kisasi 
            option(value='Namugongo') Namugongo
        .col-6
          label.form-label(for='contact') Contact Number
          input#contact.form-control(type='number' name='contact')
        .col-6
          label.form-label(for='Selling') Selling Price
          input#Selling.form-control(type='number' name='Selling')
        .col-6
          button.btn.btn-primary(type='submit') submit