//- extends layout
block content
    form(action='/uploads' method='POST' enctype='multipart/form-data')
        .mb-3
            label.form-label(for='image') Email address
            input#image.form-control(type='file' name='image' accept='image/*')
        button.btn_btn_primary(type="image") submit
        
        
